In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/dognitiondb 
%sql USE dognitiondb

 * mysql://studentuser:***@localhost/dognitiondb
0 rows affected.

[]

In [2]:
SELECT breed_type, COUNT(DISTINCT dog_guid) AS NumDogs, weight
FROM dogs
GROUP BY breed_type;

SyntaxError: invalid syntax (<ipython-input-2-97a8e4ca56d9>, line 1)

In [3]:
%%sql
SELECT breed_type, COUNT(DISTINCT dog_guid) AS NumDogs, weight
FROM dogs
GROUP BY breed_type;

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[('Cross Breed', 5568, 0),
 ("Mixed Breed/ Other/ I Don't Know", 9499, 50),
 ('Popular Hybrid', 1160, 70),
 ('Pure Breed', 18823, 50)]

In [4]:
%%sql
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY test_name
ORDER BY test_name ASC, Month ASC;

 * mysql://studentuser:***@localhost/dognitiondb
40 rows affected.

[('1 vs 1 Game', 6, 255),
 ('3 vs 1 Game', 5, 368),
 ('5 vs 1 Game', 5, 620),
 ('Arm Pointing', 2, 11452),
 ('Cover Your Eyes', 2, 7250),
 ('Delayed Cup Game', 2, 5271),
 ('Different Perspective', 11, 89),
 ('Expression Game', 10, 124),
 ('Eye Contact Game', 2, 14545),
 ('Eye Contact Warm-up', 2, 16238),
 ('Foot Pointing', 2, 9751),
 ('Impossible Task Game', 4, 532),
 ('Impossible Task Warm-up', 4, 539),
 ('Inferential Reasoning Game', 2, 4980),
 ('Inferential Reasoning Warm-up', 2, 5098),
 ('Memory versus Pointing', 2, 6525),
 ('Memory versus Smell', 2, 6163),
 ('Navigation Game', 3, 927),
 ('Navigation Learning', 3, 1054),
 ('Navigation Warm-up', 3, 1299),
 ('Numerosity Warm-Up', 5, 382),
 ('One Cup Warm-up', 2, 6785),
 ('Physical Reasoning Game', 2, 4255),
 ('Physical Reasoning Warm-up', 2, 4761),
 ('Self Control Game', 9, 132),
 ('Shaker Game', 2, 77),
 ('Shaker Warm-Up', 2, 81),
 ('Shared Perspective', 11, 83),
 ('Slide', 8, 147),
 ('Smell Game', 7, 168),
 ('Stair Game', 12, 112),
 ('Switch', 8, 137),
 ('Treat Warm-up', 2, 11737),
 ('Turn Your Back', 2, 7428),
 ('Two Cup Warm-up', 2, 6681),
 ('Warm-Up', 6, 873),
 ('Watching', 2, 8808),
 ('Watching - Part 2', 2, 7044),
 ('Yawn Game', 2, 19612),
 ('Yawn Warm-up', 2, 20863)]

In [5]:
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY Month
ORDER BY Month ASC, test_name ASC;

SyntaxError: invalid syntax (<ipython-input-5-8ab7526b7f9c>, line 1)

In [6]:
%%sqlSELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY Month
ORDER BY Month ASC, test_name ASC;

UsageError: Cell magic `%%sqlSELECT` not found.

In [7]:
%%sql
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY Month
ORDER BY Month ASC, test_name ASC;

 * mysql://studentuser:***@localhost/dognitiondb
12 rows affected.

[('Delayed Cup Game', 1, 11068),
 ('Yawn Warm-up', 2, 9122),
 ('Yawn Warm-up', 3, 9572),
 ('Physical Reasoning Game', 4, 7130),
 ('Delayed Cup Game', 5, 21013),
 ('Foot Pointing', 6, 23381),
 ('Eye Contact Game', 7, 15977),
 ('Memory versus Smell', 8, 13382),
 ('Yawn Warm-up', 9, 19853),
 ('Yawn Warm-up', 10, 39237),
 ('Inferential Reasoning Warm-up', 11, 12652),
 ('Inferential Reasoning Warm-up', 12, 10859)]

In [8]:
SELECT COUNT(DISTINCT dog_guid), breed_type, AVG(weight) AS avg_weight, 
FROM dogs
GROUP BY breed_type;

SyntaxError: invalid syntax (<ipython-input-8-36d69d3847a7>, line 1)

In [9]:
%%sql
SELECT COUNT(DISTINCT dog_guid), breed_type, AVG(weight) AS avg_weight, 
FROM dogs
GROUP BY breed_type;

 * mysql://studentuser:***@localhost/dognitiondb
(MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM dogs\nGROUP BY breed_type' at line 2")
[SQL: SELECT COUNT(DISTINCT dog_guid), breed_type, AVG(weight) AS avg_weight,
FROM dogs
GROUP BY breed_type;]
(Background on this error at: http://sqlalche.me/e/f405)

In [10]:
%%sql
SELECT COUNT(DISTINCT dog_guid), breed_type, AVG(weight) AS avg_weight
FROM dogs
GROUP BY breed_type;

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[(5568, 'Cross Breed', Decimal('37.3509')),
 (9499, "Mixed Breed/ Other/ I Don't Know", Decimal('38.3682')),
 (1160, 'Popular Hybrid', Decimal('36.8103')),
 (18823, 'Pure Breed', Decimal('42.0353'))]